DEBUG=False
SECRET_KEY=change-me-long-random-value
ALLOWED_HOSTS=SERVER_IP,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://SERVER_IP:8000
TIME_ZONE=Europe/Minsk

BOT_TOKEN=
INTERNAL_API_KEY=change-me-long-random-api-key
BOT_ACCESS_CONTROL=True
BOT_API_BASE_URL=http://web:8000/api

POSTGRES_DB=auto_bot_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-db-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
